.home {
    min-height: 100vh;
    width: 100%;
    background: #111;
}

.home_bg {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.home_bg-banner {
    width: 100%;
    mask-image: linear-gradient(to bottom , rgba(0,0,0,1),rgba(0,0,0,0));
    z-index: -1;
    margin-top: -150px;
}

.home_bg-text{
    font-size: 2rem;
    text-transform: lowercase;
    color: whitesmoke;
    position: absolute;
    top: 50%;
    left: 30%;
    padding-left: 20px;
    font-weight: 700;
}

.home_bg-text-two{
    font-size: 1rem;
    text-transform: lowercase;
    color: whitesmoke;
    position: absolute;
    top: 40%;
    left: 30%;
    padding-left: 20px;
    font-weight: 700;
}

.home_bg-text-highlight{
    color: rgb(254,189,105);
    font-size: 3rem;
    text-transform: uppercase;
    margin: 0px 5px 
}

.home_bg-text-highlight-two{
    color: rgb(254,189,105);
    font-size: 2rem;
    text-transform: uppercase;
    margin: 0px 5px 
}
.home_row-container{
    margin-top: -150px;
    width: 100%;
}

.home_row{
    padding: 0px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer{
    width:100%;
    text-align: center;
    color: rgb(0, 0, 0);
    padding: 30px;
    margin-top: 10px;
    background: rgb(190,190,190);
}

@media (max-width:1000px) {
    .home_row-container{
        margin-top: +150px;
    }
    
    .home_row{
        padding: 0px 30px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .home_bg-text{
        font-size: 2rem;
        text-transform: lowercase;
        color: whitesmoke;
        position: absolute;
        top: 30%;
        left: 0%;
        padding-left: 20px;
        font-weight: 700;
    }
    
    .home_bg-text-two{
        font-size: 1rem;
        text-transform: lowercase;
        color: whitesmoke;
        position: absolute;
        top: 20%;
        left: 0%;
        padding-left: 20px;
        font-weight: 700;
    }
    
}

@media (max-width:600px) {
    .home_row-container{
        margin-top: +350px;
    }
    

    .home_bg-text{
        font-size: 0.8rem;
        text-transform: lowercase;
        color: whitesmoke;
        position: absolute;
        top: 30%;
        padding-left: 20px;
        font-weight: 700;
    }
    
    .home_bg-text-two{
        font-size: 1rem;
        text-transform: lowercase;
        color: whitesmoke;
        position: absolute;
        top: 20%;
        padding-left: 20px;
        font-weight: 700;
    }
    .home_bg-text-highlight{
        color: rgb(254,189,105);
        font-size: 1rem;
        text-transform: uppercase;
        margin: 0px 5px 
    }
    
    .home_bg-text-highlight-two{
        color: rgb(254,189,105);
        font-size: 2rem;
        text-transform: uppercase;
        margin: 0px 5px 
    }
}