.home {
    min-height: 100vh;
    width: 100%;
    background: #111;
}

.home_bg {
    margin-top: -150px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.home_bg-banner {
    width: 100%;
    mask-image: linear-gradient(to bottom , rgba(0,0,0,1),rgba(0,0,0,0));
    z-index: -1;
    margin-top: 0px;
}

.home_row-container{
    margin-top: -150px;
    width: 100%;
}

.home_row{
    padding: 0px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer{
    width:100%;
    text-align: center;
    color: rgb(0, 0, 0);
    padding: 30px;
    margin-top: 10px;
    background: rgb(190,190,190);
}

@media (max-width:1000px) {
    .home_bg{
        margin-top: -70px;
    }
    .home_row-container{
        margin-top: +150px;
    }
    
    .home_row{
        padding: 0px 30px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    
}

@media (max-width:600px) {
    .home_row-container{
        margin-top: +100px;
    }

}

@media (max-width:500px) {
    .home_bg{
        margin-top: 70px;
    }
}